*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #121212; /* Track color */
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 157, 255); /* Thumb color */
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 157, 255); /* Hover color */
}
html,body{
    height: 100%;
    width: 100%;
    background-image: url('port_assets/backg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main{
    display: flex;
    height: 100%;
    width: 100%;
}
#left{
    width: 5%;
}
.upperl, .lowerl{
    height: 400px;
    line-height: 2;
    font-family: Krona One;
    font-size: 14px;
    color: white;
    opacity: 60%;
}
.upperl{
    padding: 40px;
}
.lowerl{
    padding: 100px 40px 0px 40px ;
}
#right{
    margin-top: 530px;
    display: block;
    width: 5%;
    padding: 20px;
}
#right svg{
    opacity: 60%;
    margin: 10px;
    height: 30px;
    width: 30px;
    transition: 300ms;
    fill: white;
}
#right svg:hover{
    fill: rgb(0, 157, 255);
    opacity: 100%;
    fill: rgb(0, 157, 255);
    filter: drop-shadow(1px 1px 2px rgb(0, 157, 255));
}
#mid{
    height: 100%;
    width: 90%;
}
.nav{
    margin-top: 100px;
}
.nav ul{
    justify-content: center;
    align-items: center;
    display: flex;
}
.nav ul li{
    opacity: 60%;
    margin: 25px;
    list-style: none;
    transition: 300ms;
}
.nav ul li:hover{
    opacity: 100%;
}
.nav ul li a{
    text-decoration: none;
    color: white;
    font-family: Krona One;
    font-size: 16px;
    transition: 300ms;
}
.nav ul li a:hover{
    color: rgb(0, 157, 255);
    text-shadow: 0 2px 4px rgb(0, 157, 255);
}
#main1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main1 marquee {
    position: absolute;
    padding-top: 200px;
    top: 0;
    left: 0;
    font-family: Krona One;
    font-size: 150px;
    opacity: 20%;
    color: white;
    z-index: 1; /* Ensure the text stays behind the image */
}

#main1 img {
    position: relative;
    z-index: 2;
    height: 700px;
}
#about {
    padding: 5% 10%;
}
.aboutme {
    height: 35px;
    width: 100%;
}
.aboutme h1{
    font-size: 24px;
    font-weight: 100;
    font-family: Krona One;
    color: white;
    opacity: 60%;
    letter-spacing: 10px;
}
.matter{
    margin-top: 50px;

}
.matter p{
    font-family: Kumbh Sans;
    font-size: 98px;
    letter-spacing: 1px;
    line-height: 100px;
    color: white;
    opacity: 50%;
}
.tech{
    display: flex;
    margin-top: 75px;
    font-family: Krona One;
    font-size: 18px;
}
#left1{
    border-right: rgba(255, 255, 255, 0.504) solid;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}
.lleft1, .rleft1{
    width: 50%;
    line-height:25px;
    padding: 10px;
    opacity: 70%;
    color: white;
}
#right1 .up,#right1 .down{
    display: flex;
    padding: 10%;
}
#right1 img{
    opacity: 60%;
    height: 60px;
    width: 60px;
    margin-right: 25%;
    margin-left: 15%;
    transition: 300ms;
}
#right1 img:hover{
    opacity: 100%;
}
#projects{
    width: 100%;
}
#projects #heading{
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 250px 0px 100px 0px;
}
#projects #heading h1{
    font-family: Krona One;
    font-size: 3.5vw;
    color: white;
    opacity: 60%;
    letter-spacing: 10px;
}
#projects #subheading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    letter-spacing: 30px;
    margin-bottom: 7%;
    margin-top: 3%;
}
#projects #subheading h2{
    font-size: 16px;
    color: white;
    opacity: 60%;
    font-family: KRONA ONE;
}
#projects #mid1{
    display: flex;
    justify-content: space-around;
    margin: 0% 10%;
}
#projects #mid1 .left,#projects #mid1 .mid1,#projects #mid1 .mid2,#projects #mid1 .right{
    background-color: #22222255;
    height: 350px;
    width: 325px;
    border-radius: 25px;
    transition: 300ms;
}
#projects #mid1 .left:hover,#projects #mid1 .mid1:hover,#projects #mid1 .mid2:hover,#projects #mid1 .right:hover{
    background-color: #222222a8;
}
#projects #mid1 .left img,#projects #mid1 .mid1 img,#projects #mid1 .mid2 img,#projects #mid1 .right img{
    height: 150px;
    width: 250px;
    margin: 20px 25px 5px 25px;
    border-radius: 25px;
    opacity: 70%;
    transition: 300ms;
    filter: grayscale(30%);
}
#projects #mid1 .left:hover img,#projects #mid1 .mid1:hover img,#projects #mid1 .mid2:hover img,#projects #mid1 .right:hover img{
    opacity: 1;
    filter: grayscale(0%);
}
#projects #lasthead{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    margin-bottom: 5%;
    width: 100%;
    letter-spacing: 30px;
}
#projects #lasthead h2{
    font-size: 16px;
    color: white;
    opacity: 60%;
    font-family: KRONA ONE;
}
#projects #mid1 .left div,#projects #mid1 .mid1 div,#projects #mid1 .mid2 div,#projects #mid1 .right div{
    padding: 10px 25px 10px 25px;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 300;
    letter-spacing: 1.5px;
    line-height: 15px;
    color: white;
    opacity: 0.75;
}
#projects #mid1 .left div:hover,#projects #mid1 .mid1 div:hover,#projects #mid1 .mid2 div:hover,#projects #mid1 .right div:hover{
    opacity: 1;
}
#projects #mid1 .left a,#projects #mid1 .mid1 a,#projects #mid1 .mid2 a,#projects #mid1 .right a{
    color: rgb(0, 157, 255);
    text-decoration: none;
    opacity: 60%;
    transition: 300ms;
    font-family: KRONA ONE;
    font-size: 12px;
}
#projects #mid1 .left a:hover,#projects #mid1 .mid1 a:hover,#projects #mid1 .mid2 a:hover,#projects #mid1 .right a:hover{
    opacity: 100%;
}
#skill{
    margin: 5% 10%;
}
#skill #head {
    height: 35px;
}
#skill #head h1{
    font-size: 24px;
    font-weight: 100;
    font-family: Krona One;
    color: white;
    opacity: 60%;
    letter-spacing: 15px;
}
#skill .skill1{
   border-bottom: rgba(255, 255, 255, 0.509) solid;
}
#skill .skill1 .main h1{
    font-family: Krona One;
    font-size: 70px;
    color: white;
    opacity: 50%;
    letter-spacing: -8px;
    transition: 300ms;
}
#skill .skill1 .main h1:hover,#skill .skill0 .main h1:hover{
    opacity: 100%;
    color:rgb(0, 157, 255);
}
#skill .skill0 .main{
    padding-top: 15px;
}
#skill .skill1 .main{
    padding-top: 15px;
}
#skill .skill0{
    margin-top: 100px;
    border-top: rgba(255, 255, 255, 0.516) solid;
    border-bottom: rgba(255, 255, 255, 0.509) solid;
}
#skill .skill0 .main h1{
    font-family: Krona One;
    font-size: 70px;
    color: white;
    opacity: 50%;
    letter-spacing: -8px;
    transition: 300ms;
}
#skill .skill0 .main{
    margin: 10px;
}
.skill1 .star img{
    height: 12px;
    width: 12px;
    margin: 10px;
}
.skill0 .star img{
    height: 12px;
    width: 12px;
    margin: 10px;
}
.skill1 .star{
    display: flex;
    justify-content: end;
}
.skill0 .star{
    display: flex;
    justify-content: end;
}
#contact #heading{
    margin: 200px 0px 50px 0px;
    display: flex;
    justify-content: center;
    align-self: center;
}
#contact #heading h1{
    font-family: Krona One;
    font-size: 3.5vw;
    color: white;
    opacity: 60%;
    letter-spacing: 25px;
}
#contact #subhead{
    margin: 30px 0px 50px 0px;
    display: flex;
    justify-content: center;
    align-self: center;
}
#contact #subhead h2{
    font-family: Krona One;
    font-size: 18px;
    color: white;
    opacity: 60%;
    letter-spacing: 15px;
}
#contact #middle{
    height: 500px;
    margin: 0% 10%;
    margin-top: 75px;
}
#contact .left span{
    font-family: Krona One;
    font-size: 18px;
    color: white;
    letter-spacing: 8px;
    opacity: 70%;
}
#contact #middle{
    display: flex;
}
#contact #middle .left{
    width: 40%;
}
#contact #middle .right{
    width: 60%;
}
#contact #middle .left #A,#contact #middle .left #B,#contact #middle .left #C{
    margin: 40px 0px;
}
#contact .left p{
    font-family: Montserrat;
    color: white;
    font-size: 16px;
    letter-spacing: 3px;
}
form #names{
    display: flex;
    justify-content: space-around;
}
form #names input{
    width: 90%;
}
input{
    height: 50px;
    width: 95%;
    background-color: #1717177c;
    border: none;
    border-radius: 25px;
    color: white;
    font-family: Krona One;
    font-size: 14px;
    padding-left: 25px;
    transition: 300ms;
}
input:hover{
    background-color: #2b2b2b95;
}
form div{
    margin-top: 20px;
}
form #msg input{
    height: 175px;
}
.right #names .fname,.right #names .lname{
    width: 100%;
} 
form::placeholder{
    margin-left: 20px;
    font-family: Krona One;

}
::placeholder{
    color: rgba(255, 255, 255, 0.276);
    font-family: Krona One;
    font-size: 14px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}
button{
    border: white solid;
    border-radius: 25px;
    background-color: #12121200;
    color: white;
    font-family: Krona One;
    font-size: 14px;
    opacity: 70%;
    padding: 10px;
    transition: 300ms;
}
button:hover{
    border: rgb(0, 157, 255) solid;
    background-color: rgb(0, 157, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0 2px 4px rgb(0, 157, 255);
}
#footer{
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer .container{
    width: 30%;
    display: flex;
    border-top:2px rgba(255, 255, 255, 0.576) solid;
    justify-content: center;
    align-items: center;
}
#footer .container svg{
    opacity: 60%;
    margin: 10px 20px 20px 20px;
    height: 30px;
    width: 30px;
    transition: 300ms;
    fill: white;
}
#footer .container svg:hover{
    fill: rgb(0, 157, 255);
    opacity: 100%;
    fill: rgb(0, 157, 255);
    filter: drop-shadow(1px 1px 2px rgb(0, 157, 255));
}
.timeline{
    position: relative;
    max-width: 1200px;
    margin: 150px auto;
}
.container{
    padding: 10px 50px;
    position: relative;
    width: 42%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}
.textbox:hover{
    background-color: #2b2b2bb7;
}
.textbox:hover h2{
    opacity: 1;
}
@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.container:nth-child(1){
    animation-delay: 0s;
}
.container:nth-child(2){
    animation-delay: 1s;
}
.container:nth-child(3){
    animation-delay: 2s;
}
.container:nth-child(4){
    animation-delay: 3s;
}
.container:nth-child(5){
    animation-delay: 4s;
}
.container:nth-child(6){
    animation-delay: 5s;
}

.textbox{
    padding: 10px 30px;
    background: #1717177c;
    position: relative;
    border-radius: 25px;
    color: white;
    transition: 400ms;
}
.left-container{
    left: 0;
}
.right-container{
    left: 50%;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background: #ffffffbc;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}
.timeline h2{
    font-family: Kumbh Sans;
    margin: 30px;
    font-size: 30px;
    opacity: 0.75;
}
.timeline p{
    font-family: Montserrat;
    font-weight: 200;
    margin: 30px;
    font-size: 18px;
}
.timeline .textbox img{
    margin-top: 25px;
}
@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}
.container .img {
    position: absolute;
    width: 60px;
    border-radius: 50%;
    right: -25px;
    top: 50px;
    z-index: 10;
    filter: brightness(0.7);
}
.right-container .img{
    left: -30px;
}
@media screen and (max-width:600px){
    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 40px;
    }
    .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;   
    }
    .left-container .img, .right-container .img{
        left: 10px;
    }
}
.services h1{
    font-family: Krona One;
    font-size: 3.5vw;
    color: white;
    opacity: 60%;
    letter-spacing: 10px;
    margin: 75px 0px 75px 0px;
}
#resume .container{
    width: auto;
	padding: 35px 10%;
}
#resume .container{
	padding-right: calc(10% - 30px);
}
#resume main.row{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
}
#resume .col header.title{
	font-size: 14px;
    font-weight: 100;
    font-family: Krona One;
    color: white;
    opacity: 80%;
    letter-spacing: 2px;
	padding: 0px 0px 20px 30px;
}
#resume .col .contents{
	padding: 0px 30px;
	border-left: 2px solid #bababa;
}
#resume .col .contents .box{
	position: relative;
	padding: 20px;
	border: 1px solid #1717177c;
	background-color: #1717177c;
	cursor: pointer;
	transition: all 0.4s;
	margin-bottom: 20px;
    border-radius: 25px;
    font-family: Kumbh Sans;
    opacity: 0.75;
}
#resume .col .contents .box:hover{
	background-color: #2b2b2bb7;
	border: 1px solid transparent;
    opacity: 1;
}
#resume .col .contents .box::before{
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	right: calc(100% + 22px);
	top: 0;
	background-color: #ffffff;
    filter: brightness(0.7);
	border: 2px solid rgba(255, 255, 255, 0.714);
}
#resume .box h4{
	position: relative;
	color: rgba(0, 157, 255);
}
#resume .box h3{
	font-size: 32px;
	padding: 20px 0px 20px;
	color: #ffffff;
}
#resume .box p{
	line-height: 1.5;
	color: #fff;
	font-size: 15px;
    font-family: Montserrat;
    font-weight: 300;
}
@media(max-width: 768px){
	#resume main.row{
		grid-template-columns: 1fr;
	}
	#resume .row .col:nth-child(2){
		margin-top: 30px;
	}
}
#resume #head{
    font-family: Krona One;
    font-size: 3.5vw;
    color: white;
    opacity: 60%;
    letter-spacing: 5px;
    margin: 200px 0px 75px 0px;
}
#resume h5{
    font-family: Kumbh Sans;
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}